@CHARSET "UTF-8";

/*에러 페이지*/
 .center {text-align: center; margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: auto;}

/* Links */
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
 
  
}
body {
  color: #fff;
  text-align: center;
  margin-top: 50px;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  background-image: url('../img/index_bg.jpg');
  background-size: cover;
  /* opacity: 0.7!important; filter:alpha(opacity=0); */
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  background-color: rgba( 0, 0, 0, 0.3 );
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  width : 150px;
  height :100px;
  
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}
/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover-heading{
  font-family: 'Nanum Pen Script', serif;
  font-size:100px;
}

.cover-logo{
	
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
  margin-bottom: 5px;
  width : 250px;
  
}

.indexInstruction{
	color : white;
}
.blliInst{
	color : white;
}
.indexLogin{
	color: black;
}
.indexLogin a{
	color: red;
}
.modal-title{
	color: black;
	font-weight: bold;
}
.modal-body{
	color: black;
	font-weight: bold;
}
.modal-footer{
	color: white;
	font-weight: bold;
}
.personInfoForJoin{
	text-align: left;
}
.babyInfoForJoin{
	display:none;
	text-align: left;
}
.BabyInfo2{
	display:none;
}
.BabyInfo3{
	display:none;
}
.thirdBabyAddbtn glyphicon glyphicon-remove{
	display: inline;
}
.secondBabyRemovebtn{
	display: inline;
}
/*
 * Footer
 */
.copyrightOfBlli{
	color:white;
}
.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

.top-menu{
	color : black;
}
